@media (min-width: 1280px) {
	.homer {
		max-height: 100%;
		max-width: 100%;
		background: url(homer.jpg) 0 0px;
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.homer {
		
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.homer {
		
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.homer {
		
	}
}

@media (max-width: 480px) {
	.homer {
		
	}
}