#title {
    color: #4682B4;
	text-align: center;
}

#title:hover {
	color: #40E0D0;
}

body {
	background-color: #E6E6FA;
}

#music_video {
	display: inline-block;
	margin: 2em;
	padding: .5em;
	background-color: #4682B4;
}

#music_video:hover {	
    box-shadow: -10px -10px 10px #40E0D0;
}

#lyrics {
    color: #4682B4;
    font-family: sans-serif;
    background-color: #E6E6FA;
}

#lyrics:hover {
	font-style: italic;
	color: #40E0D0;
}